<% provide(:title, 'Bible Study') %>
<div class="content-padder">
    <div id="pageoverview">This page is going to be an ongoing project of mine to study the word and upload my thoughts and beliefs on the bible and Christianity. <h2>All study topics are currently closed, but will be opened at a later date.<h2></div>
    <div id="block-background">
        <div class="beginer"><div class="level_text">Beginer topics</div>
            <div class="block_row">
                <a href="#starter">
                    <div class="block">
                        <div class="blockimage"><%= image_tag("/assets/sermon_images/christianity/light_icon_smaller.png", alt: "coming soon") %>
                        </div>           
                        <div class="bigtitle">Christianity</div>      
                        <div class="smallertitle">What it really means to be a Christian</div>                             
                        <p>A crash course into Christianity 101</p>
                    </div>
                </a>
                <a href="#starter">
                    <div class="block">
                        <div class="blockimage"><%= image_tag("/assets/sermon_images/how_to_be_saved/baptise icon.png", alt: "coming soon") %></div>           
                        <div class="bigtitle">Baptism</div>      
                        <div class="smallertitle">Why is it important?</div>                             
                        <p>An overview of baptism and it's role in salvation</p>
                    </div>
                </a>
                <a href="#starter">
                    <div class="block">
                        <div class="blockimage"><%= image_tag("/assets/sermon_images/how_to_be_saved/live icon.png", alt: "coming soon") %></div>           
                        <div class="bigtitle">How To Be Saved</div>      
                        <div class="smallertitle">A step by step guide</div>                             
                        <p>6 easy steps toward salvation</p>
                    </div>
                </a>
            </div> <!--  blockrow -->
        </div> <!--  beginer -->
        <div class="intermediate"><div class="level_text">Intermediate topics</div>
            <div class="block_row">
                <a href="#starter">
                    <div class="block">
                        <div class="blockimage"><%= image_tag("/assets/sermon_images/how_to_be_saved/hear icon.png", alt: "coming soon") %></div>           
                        <div class="bigtitle">Sin</div>      
                        <div class="smallertitle">What constitutes a sin? and its wages</div>                             
                        <p></p>
                    </div>
                </a>
                <a href="#starter">
                    <div class="block">
                        <div class="blockimage"><%= image_tag("/assets/sermon_images/how_to_be_saved/believe icon.png", alt: "coming soon") %></div>           
                        <div class="bigtitle">Evangelism</div>      
                        <div class="smallertitle">Spreading the good word</div>                             
                        <p></p>
                    </div>
                </a>
                <a href="#">
                    <div class="block">
                        <div class="blockimage"><%= image_tag("/assets/sermon_images/how_to_be_saved/confess icon.png", alt: "coming soon") %></div>           
                        <div class="bigtitle">Free Will</div>      
                        <div class="smallertitle">Does it exist?</div>                             
                        <p></p>
                    </div>
                </a>
            </div> <!--  blockrow -->
        </div> <!--  medium -->
        <div class="advanced"><div class="level_text">Advanced topics</div>
            <div class="block_row">
                <a href="#starter">
                    <div class="block">
                        <div class="blockimage"><%= image_tag("/assets/sermon_images/coming soon.png", alt: "coming soon") %></div>           
                        <div class="bigtitle">The Holy Ghost</div>      
                        <div class="smallertitle">In-depth analysis of the third Godhead</div>                             
                        <p></p>
                    </div>
                </a>
                <a href="#starter">
                    <div class="block">
                        <div class="blockimage"><%= image_tag("/assets/sermon_images/coming soon.png", alt: "coming soon") %></div>           
                        <div class="bigtitle">Revelation</div>      
                        <div class="smallertitle">Exploring the final book of prophecy</div>                             
                        <p></p>
                    </div>
                </a>
                <a href="#">
                    <div class="block">
                        <div class="blockimage"><%= image_tag("/assets/sermon_images/coming soon.png", alt: "coming soon") %></div>           
                        <div class="bigtitle">Iconology</div>      
                        <div class="smallertitle">Hidden symbolsm in recurring themes</div>                             
                        <p></p>
                    </div>
                </a>
            </div> <!--  blockrow -->
        </div> <!--  hard -->
    </div>
</div> <!--  content-padder -->