<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to image_tag("navbar_face.png", alt: "Banner Pic", id: "navbar-face") + "James Bumbalough.com", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li id="nav-wedge-1" class="wedge"><%= image_tag("navbar_wedge.png", alt: "Blue Wedge") %></li>
          <li><%= link_to "Home", root_path, class: ("current-page" if current_page?(root_path)) %></li>
          <li><%= link_to "Resume", resume_path, class: ("current-page" if current_page?(resume_path)) %></li>
          <li><%= link_to "Art", art_path, class: ("current-page" if current_page?(art_path)) %></li>
          <li><%= link_to "Contact", contact_path, class: ("current-page" if current_page?(contact_path)) %></li>
          <li><%= link_to "Bible Study", bible_study_path, class: ("current-page" if current_page?(bible_study_path)) %></li>
          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li><%= link_to "Users", users_path %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
          <li id="nav-wedge-2" class="wedge"><%= image_tag("navbar_wedge2.png", alt: "Blue Wedge", id: "nav-wedge-2") %></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="header-bluebar"></div>
</header>