<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "screen", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "print_resume", media: "print", "data-turbolinks-track" => true %>

    <%= yield(:header) if @content_for_header %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <div class="noPrint">
    <%= render 'layouts/header' %>
    </div>
    <div class="pagebody">
      <div class="container">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
        <div class="noPrint">
        <%= render 'layouts/footer' %>
        </div>
      </div>
    </div>

  </body>
</html>
